.terraform/

terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup

crash.log
.crash.log

*.tfplan

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.env
.env.*

.DS_Store
.idea/
.vscode/
*.swp
charts/django-app/values.secret.yaml
