.env
.env.*
*.env

.terraform/
**/.terraform/

terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*
*.tfstate
*.tfstate.*

.terraformrc
terraform.rc

crash.log
crash.*.log

*.tgz

kubeconfig
kubeconfig.*
*.kubeconfig

kubectl
kubectl.exe
*.sha256

*.pid

.jenkins/
jenkins_home/

*.log
logs/
tmp/
tmp.*

.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.tmp
*.orig

.vscode/
.idea/
*.iml
