applications:
  - name: django-app
    namespace: default
    project: default
    source:
      repoURL: https://github.com/RadislavKrasnov/goit-devops-charts.git
      path: charts/django-app
      targetRevision: main
      helm:
        valueFiles:
          - values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: default
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

repositories: []
